{% include "importfiles.html" %}


{% include "navbar.html" %}

{% if not decisions_made %}
<h2 style="text-align:center">
You haven't made your callback decisions yet, so please <a href='/make_selections'>click here</a> to make them.
</h2>
{% else %}
<h2 style="text-align:center">
Below are the callbacks you have chosen to accept and reject.
</h2>
<h4 style="text-align:center">Accepted</h4>
{% if accepted|length == 0 %}
<h6 style="text-align:center"> You did not accept any callbacks.</h6>
{% else %}
<div style="text-align:center;">
{% for callback in accepted %}<h7>{{callback.group.name}}</h7>
{% endfor %}
</div>
{% endif %}

<h4 style="text-align:center">Rejected</h4>
{% if rejected|length == 0 %}
<h6 style="text-align:center"> You did not reject any callbacks.</h6>
{% else %}
<div style="text-align:center;">
{% for callback in accepted %}<h7>{{callback.group.name}}</h7>
{% endfor %}
</div>

{% endif %}

{% endif %}

