{% include "importfiles.html" %}


{% include "navbar.html" %}
<div class='body_div'>
{% if not decisions_made %}
<h2 style="text-align:center">
You haven't made your callback decisions yet, so please <a href='/make_selections'>click here</a> to make them.
</h2>
{% else %}
<h2 style="text-align:center">
Below are the callbacks you have chosen to accept and reject.
</h2>
<hr/>
<h3 style="text-align:center"><i>Accepted</i></h3>
{% if accepted|length == 0 %}
<h4 style="text-align:center"> You did not accept any callbacks.</h4>
{% else %}
<div style="text-align:center;">
{% for callback in accepted %}<h4>{{callback.group.name}}</h4>
{% endfor %}
</div>
{% endif %}

<h3 style="text-align:center"><i>Rejected</i></h3>
{% if rejected|length == 0 %}
<h4 style="text-align:center"> You did not reject any callbacks.</h4>
{% else %}
<div style="text-align:center;">
{% for callback in rejected %}<h4>{{callback.group.name}}</h4>
{% endfor %}
</div>

{% endif %}

{% endif %}
</div>

