{% include "importfiles.html" %}

{% include "navbar.html" %}

<div class="body_div">
	<h2 style="text-align:center">
		MAKE YOUR GROUP SELECTIONS HERE!
	</h2>

	<p style="text-align:center">
		Here you can submit your decisions about how many callbacks you would like to take. You have received callbacks from {{callbacks|length}} group{% if  callbacks|length != 1 %}s{% endif%}: 
		{% for callback in callbacks%} {{callback.group.name}}{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} and {% else %}, {% endifequal %}{% else %}{% endif %}{%endfor%}. <br/>

		{% if non_acaprez_callbacks|length == 0 %}You may accept a callback to as many as two groups. Naturally, you may elect to attend only one callback or none, no matter how many you are offered. Below, you can make your selections.{% endif%}{% if non_acaprez_callbacks|length != 0 %} You may as many as three callbacks total but the number of Acaprez groups (all groups except SK or Old NasSoul) cannot exceed 2. Naturally, you may elect to attend only one or two callbacks or none, no matter how many you are offered.{% endif %}<br/>

		When you agree to accept an Acaprez group’s callback, this means that if the group then offers you membership, you should be willing to accept that offer. If you attend two callbacks and both groups offer you membership, you must decide during the next day which group you would like to join. Please understand that if you do not accept an offer of membership when it is extended to you, none of these eight groups will be able to allow you to audition during the remainder of your time at Princeton. Thus, you will want to limit the callbacks you accept to groups in which you are truly interested. The system works this way to ensure a measure of integrity in the audition process. <br/>

		Once again, if you have any questions at all, email us at acaprezprinceton@gmail.com.
	</p>


<br/>
<br/>
<br/>




<div align="center">
	<form action='/save_selections'>
		<i><h5> Selection </h5></i>
		<select name='first_choice' class="form-control" style="width:500px">
			<option selected>None</option>
			{% for callback in callbacks %}
			<option>{{callback.group.name}}</option>
			{% endfor %}
		</select>
		<i><h5> Selection </h5></i>
		<select name='second_choice' class="form-control" style="width:500px">
			<option selected>None</option>
			{% for callback in callbacks %}
			<option>{{callback.group.name}}</option>
			{% endfor %}
		</select>

		{% if non_acaprez_callbacks|length != 0 %}
		<i><h5> Non-Acaprez Selection </h5></i>
		<select name='non_acaprez_choice' class="form-control" style="width:500px">
		<option selected>None</option>
			{% for callback in non_acaprez_callbacks %}
			<option>{{callback.group.name}}</option>
			{% endfor %}
		</select>
		{% endif %}

		<br/>

		<div class='warning_div'></div>
		<hr/>
		<h4>Do you have timing conflicts with any of the callbacks sessions? We need to know for scheduling purposes. If you have a time conflict with a session, please check the box next to that session. <strong>Again, check off times you CANNOT make, not the ones you can! </strong></h4>

		<div class="checkbox" style='width:500px;'>
			<label>
				<input name='conflict_with_first' type="checkbox" value="True">
				First callback session (5:00pm - 7:00pm this Friday)


			</label>
		</div>
		<div class="checkbox" style='width:500px;'>
			<label>
				<input name='conflict_with_second' type="checkbox" value="True">
				Second callback session (7:30pm - 9:30pm this Friday)

			</label>
		</div>
		<div class="checkbox" style='width:500px;'>
			<label>
				<input name='conflict_with_third' type="checkbox" value="True">
				Third callback session (10:00pm - 12:00am this Friday)

			</label>
		</div>



		<input type="submit" name="submit" class="btn btn-default submission_button" />
	</form>
</div>

</div>


<!-- add logic to verify form selection -->
<script>
function addWarningErrorToDiv(div, error) {
// 	<div class="alert alert-warning alert-dismissable">
//   <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
//   <strong>Warning!</strong> Better check yourself, you're not looking too good.
// </div>
	var errorMessage = "";
	errorMessage += "<center><div class=\"alert alert-warning alert-dismissable\" style=\"width:500px; \">";
	errorMessage += "<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">&times;</button>";
	errorMessage += "<strong>Warning</strong>: ";
	errorMessage += error;
	errorMessage += "</div></center>";
	div.append(errorMessage);
}
$('.submission_button').click(function(){
	if ($(this).siblings('select[name=first_choice]').find(":selected").text()=='None') {
		var r = confirm('Are you sure that you do not want to accept any callbacks?');
		if (r == false)
			return false;
	}
	if (($(this).siblings('select[name=first_choice]').find(":selected").text()==$(this).siblings('select[name=second_choice]').find(":selected").text()) && ($(this).siblings('select[name=first_choice]').find(":selected").text()!='None')) {
		addWarningErrorToDiv($(this).siblings('.warning_div'), 'You have chosen the same group twice. You cannot do that. Please change one of your choices to either another group or None.');
		return false;
	}
	var r = confirm('Are you sure that this is your final decision? Please confirm your selections because after this point, you will not be able to change them.');
	if (r == true)
		return true;
	else
		return false;

});
</script>

