Hello {{callbackee.first_name}} {{callbackee.last_name}},
<br/>
Congratulations! You have received callbacks from {{callbacks|length}} group{% if  callbacks|length != 1 %}s{% endif%}: {% for callback in callbacks%} {{callback.group.name}}{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} and {% else %}, {% endifequal %}{% else %}{% endif %}{%endfor%}. In order to accept your callbacks, you need to go to <a href='http://ec2-54-200-251-122.us-west-2.compute.amazonaws.com/make_selections'> this link </a> to make your choices. You must make your decision by 2:30pm on Thursday, February 13th. There is information on the site about how exactly the callback process works, so make sure to read all of the information. If you have any questions, please send an email to us at acaprezprinceton@gmail.com.
<br/>


<br/>
Thanks,
Acaprez