{% load staticfiles %}
<script type="text/javascript" src="{% static "jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "dist/js/alert.js" %}"></script>
<script type="text/javascript" src="{% static "dist/js/bootstrap.min.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "dist/css/bootstrap.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "dist/css/bootstrap-theme.min.css" %}">
<!-- add ones that we already have as diasbled forms here-->

<div class="callback_submissions" id="callback_edit">  
  <div class="submission">
    <form name="callback_submission" class= "form-inline submission" action="" style="text-align:center">  
     {% csrf_token %}
     <fieldset>  
      <label for="first_name" id="first_name_label">First Name</label>  
      <input type="text" name="first_name" id="first_name" size="20" value="" class="text-input" />  
      <label class="error" for="first_name" id="first_name_error">This field is required.</label>  

      <label for="last_name" id="last_name_label">Last Name</label>  
      <input type="text" name="last_name" id="last_name" size="20" value="" class="text-input" />  
      <label class="error" for="last_name" id="last_name_error">This field is required.</label>  


      <label for="netid" id="netid_label">NetID</label>  
      <input type="text" name="netid" id="netid" size="20" value="" class="text-input" />  
      <label class="error" for="netid" id="netid_error">This field is required.</label>  
      
      <!-- 
      <br />   -->
      <input type="submit" name="submit" class="submission_button" id="submit_btn" value="Send" />  
      <a class="delete_button" href="/"> X </a>
    </fieldset>  

  </form>  
</div>
<!-- <form name="callback_submission" action="">  
  {% csrf_token %}
  <fieldset>  
    <label for="first_name" id="first_name_label">First Name</label>  
    <input type="text" name="first_name" id="first_name" size="20" value="" class="text-input" />  
    <label class="error" for="first_name" id="first_name_error">This field is required.</label>  
     
    <label for="last_name" id="last_name_label">Last Name</label>  
    <input type="text" name="last_name" id="last_name" size="20" value="" class="text-input" />  
    <label class="error" for="last_name" id="last_name_error">This field is required.</label>  


    <label for="netid" id="netid_label">NetID</label>  
    <input type="text" name="netid" id="netid" size="20" value="" class="text-input" />  
    <label class="error" for="netid" id="netid_error">This field is required.</label>  
      
      
    <br />  
    <input type="submit" name="submit" class="submission_button" id="submit_btn" value="Send" />  
  </fieldset>  
</form>   -->

</div>  

<script>

$.ajaxSetup({ 
 beforeSend: function(xhr, settings) {
   function getCookie(name) {
     var cookieValue = null;
     if (document.cookie && document.cookie != '') {
       var cookies = document.cookie.split(';');
       for (var i = 0; i < cookies.length; i++) {
         var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                       cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                       break;
                     }
                   }
                 }
                 return cookieValue;
               }
               if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
           }
         } 
       });

</script>
<script>

$('.callback_submissions').on(
  /*
   * This first argument is a map (object) of events and their corresponding
   * event handlers, like so: {eventName: eventHandler ([e]) {})
*/
{
  click: function doMath () {
    // validate and process form here  

    $(this).siblings('.error').hide();  
    var first_name = $(this).siblings("input#first_name").val();  
    if (first_name == "") {  
      $(this).siblings("label#first_name_error").show();  
      $(this).siblings("input#first_name").focus();  
      return false;  
    }  
    var last_name = $(this).siblings("input#last_name").val();  
    if (last_name == "") {  
      $(this).siblings("label#last_name_error").show();  
      $(this).siblings("input#last_name").focus();  
      return false;  
    }  
    var netid = $(this).siblings("input#netid").val();  
    if (netid == "") {  
      $(this).siblings("label#netid_error").show();  
      $(this).siblings("input#netid").focus();  
      return false;  
    }  

    var add_var = -1;
    if ($(this).hasClass("submission_button"))
      add_var = 1;
    if ($(this).hasClass("delete_button"))
      add_var = 0;

    //SAVE CURRENT DIV
    var $curr_div = $(this);

    $.ajax({
      context: this,
      type:"POST",
      url:"/add_remove_callbacks",
      data:{first:first_name, last:last_name, net_id:netid, group:{{admin.group.name}},add:add_var},
      success: function(data) {
        if (data.error_bool == true) {
            //common errors. refersh page for updates.
            //you have reached your limit of 20 people
            //other problem. dont duplicate name/netid
            
            if (data.delete_not_found == true) {
              alert("callbackee to delete not found.");
              $(this).closest(".submission").append('\"<div class=\"alert alert-warning alert-dismissable\"><button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-hidden=\"true\">&times;</button><strong>Warning!</strong> Better check yourself, you\'re not looking too good.</div>');
            }
            alert("no luck");
            return false;
          }
          if ($(this).hasClass("submission_button")){
          //make all siblings which have type input be disabled and add delete button and add new row below
          //alert("yay");
          var newDiv = '<div class=\"submission\">';
          newDiv +='<form name=\"callback_submission\" action=\"\">';
          
          newDiv += "{% csrf_token %}";
          newDiv += '<fieldset> <label for=\"first_name\" id=\"first_name_label\">First Name</label>';
          newDiv += '<input type=\"text\" name=\"first_name\" id=\"first_name\" size=\"20\" value=\"\" class=\"text-input\" />'  
          newDiv += '<label class=\"error\" for=\"first_name\" id=\"first_name_error\">This field is required.</label>';

          newDiv += '<label for=\"last_name\" id=\"last_name_label\">Last Name</label>';
          newDiv += '<input type=\"text\" name=\"last_name\" id=\"last_name\" size=\"20\" value=\"\" class=\"text-input\" /> ';
          newDiv += '<label class=\"error\" for=\"last_name\" id=\"last_name_error\">This field is required.</label>';


          newDiv += '<label for=\"netid\" id=\"netid_label\">NetID</label>';  
          newDiv +='<input type=\"text\" name=\"netid\" id=\"netid\" size=\"20\" value=\"\" class=\"text-input\" />';
          newDiv += '<label class=\"error\" for=\"netid\" id=\"netid_error\">This field is required.</label>';


          newDiv += '<input type=\"submit\" name=\"submit\" class=\"submission_button\" id=\"submit_btn\" value=\"Send\" />';  
          newDiv += '</fieldset> </form> </div>';
          $container = $(".callback_submissions");
          $container.append(newDiv);
          $('.error').hide();  
        }
        if ($(this).hasClass('delete_button')) {

          $(this).closest(".submission").remove();
          $container = $("callback_submissions");
          $container.append('in here');
        }
        // error: function(data) {

        // }
      }
      

      // Your event handling code here. 
      // "this" refers to the input where the keyUp-event occured

    });
return false;}},
  /* This argument is a selector, and reads: 
   * 'For table with class "math", bind to the events listed above
   * whenever a corresponding event occurs on an input with class
   * "mathInput"
   */
   '.submission_button, .delete_button'
   
   );

$(document).ready(function() {  
  $('.error').hide();  
});
</script>
